$dark-grey: #4e4e4e;
$white: #fff;
$blue: #007bff;
$dark-dark-grey: #161616;
$dark-grey: rgb(58, 58, 58);
$transparent-grey:rgba(0, 0, 0, 0.2);
$transparent-dark-grey:rgba(0, 0, 0, 0.7);
$light-grey: rgb(175, 175, 175)
