// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #656565;
$gray: #0E0000;
$light-gray: #DDDCDC;
$black: #1E1E1E;
$white: #FFFFFF;
