<div class="title">
  <p><strong><%= @result[0]["title"] %></strong></p>
</div>
<div class="rating">
  <p><i class="fa-solid fa-star text-warning"></i> <%= @result[0]["vote_average"] %>/10</p>
</div>
<div class="description">
  <p><%= @result[0]["overview"] %></p>
</div>
<div class="d-flex button-gap mt-3">
  <div class="button-get-started"></div>
  <div class="button-get-started"></div>
</div>
<div>
</div>
