<div class="title">
  <p><strong><%= @result[2]["title"] %></strong></p>
</div>
<div class="rating">
  <p><i class="fa-solid fa-star text-warning"></i> <%= @result[1]["user_rating"] %>/10</p>
</div>
<div class="description">
  <p><%= @result[2]["plot_overview"] %></p>
</div>
<div class="d-flex button-gap mt-3">
  <div class="button-get-started"></div>
  <div class="button-get-started"></div>
</div>
<div>
</div>
