 <div class="details-page">
    <div class="top-image">
      <!-- Placeholder for the image -->
    </div>

    <div class="info-section">
      <div class="row">
        <div class="col left-column">
          <p class="movie-title">Title</p>
          <p>Year and runtime</p>
          <p>genre</p>
        </div>


        <div class="col middle-column">
          <p>Rating: 5/10</p>
        </div>

        <div class="col right-column">
          <div class="movie-card">
            <!-- Placeholder for the movie card -->
          </div>
        </div>
      </div>
    </div>


    <div class="movie-description-section">
      <p><strong>Description:</strong>description</p>
    </div>


    <div class="add-to-watchlist-container">
      <button class="add-to-watchlist-button">Add to Watchlist</button>
    </div>
  </div>
