

<div class="details-page">
  <div class="top-image">
    <!-- Placeholder for the image -->
  </div>


  <div class="info-section">
    <div class="row">
      <div class="col left-column">
        <p class="movie-title">Title</p>
        <p>Directed by</p>
        <p>Year and Length of Movie</p>
        <p>Genre</p>
      </div>


      <div class="col middle-column">
        <p>Rating: /10</p>
      </div>

      <div class="col right-column">
        <div class="movie-card">
          <!-- Placeholder for the movie card -->
        </div>
      </div>
    </div>
  </div>


  <div class="movie-description-section">
    <p><strong>Description:</strong> This is where the movie description will go. It gives an overview of the plot and key points to entice viewers.</p>
  </div>


  <div class="add-to-watchlist-container">
    <button class="add-to-watchlist-button">Add to Watchlist</button>
  </div>
</div>
