<div class="top-image">
  <div class="header-text">
    <h1>Welcome to Filmdash</h1>
    <h2>Your cinematic journey!</h2>
  </div>
  <%= image_tag "home_page/Chaplin.webp", alt: "Charlie Chaplin" %>
</div>
<div class="bottom-image">
  <%= image_tag "home_page/Truffaut.jpg", alt: "François Truffaut" %>
</div>
