
<h1 style="text-align: center; padding-top: 25px;">Your Selection!</h1>

<div class="d-flex flex-column align-items-center my-5" data-controller="toggle">
  <div data-toggle-target="movedElement" class="row justify-content-center movie-info">
    <div class="movie-card col-4" data-toggle-target="movingElement" data-action="click->toggle#fire" style="background-image:url('https://i.ebayimg.com/images/g/eKEAAOxyOMdS4U2W/s-l400.jpg')">
      <%# <div class="placeholder" alt="Placeholder 3"></div> %>
    </div>
    <div data-toggle-target="appearElement" class="d-none title col-8">
      <p><strong>Breaking bad</strong></p>
      <p class="text-warning"><i class="fa-solid fa-star"></i></p>
    </div>
  </div>

  <div class="movie-card">
    <%# <div class="placeholder" alt="Placeholder 3"></div> %>
  </div>

  <div class="movie-card">
    <%# <div class="placeholder" alt="Placeholder 3"></div> %>
  </div>
</div>

<div class="generate-button-container">
  <div class="generate-button">
    <button class="button-get-started">Generate New Selection</button>
  </div>
</div>
