<h1 style="text-align: center; padding-top: 25px;">Your Selection!</h1>

<div class="movie-card">
  <%# <div class="placeholder" alt="Placeholder 1"></div> %>
</div>
<div class="movie-card">
  <%# <div class="placeholder" alt="Placeholder 2"></div> %>
</div>
<div class="movie-card">
  <%# <div class="placeholder" alt="Placeholder 3"></div> %>
</div>

<div class="generate-button-container">
  <div class="generate-button">
    <button class="button-get-started">Generate New Selection</button>
  </div>
</div>
