.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("preferences/Citizen.jpg");
  // background-image: url("preferences/Citizen.jpg");
  background-position: center;
  background-size: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 28%;
  width: 100%;
  font-family: $body-font;
  text-align: center;
  font-weight: 700;
}
