

.scrolling {
  overflow-x: auto;
  white-space: nowrap;
  height: 50%;
  // background-color: blue;
  width: 100%;
}

.scroll-height{
  height: 100%;
}

.section {
  // background-color: red;
  height: 20%;
}

.form-height {
  height: 100%;
}

#movie-img {
  background-image: url("preferences/format/amelie.jpg");
  object-fit: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-right: 20%;
}

#serie-img {
  background-image: url("preferences/format/Series.jpg");
  object-fit:cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-right: 20%;
}
