.scrolling {
  overflow-x: auto;
  height: 55%;
  // background-color: blue;
  width: 100%;
}

.scroll-height{
  height: 100%;
}

.section {
  // background-color: red;
  height: 20%;
  width: 100%;
}

.form-height {
  height: 100%;
}

.radio-space {
  object-fit: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding-right: 25%;
  margin-right: 4%;
  border-radius:3px;
}
