#movie-img {
  background-image: url("preferences/format/amelie.jpg");
}

#serie-img {
  background-image: url("preferences/format/Series.jpg");
}

#short-img {
  background-image: url("preferences/format/short.jpg");
}

#mini-img {
  background-image: url("preferences/format/tales.jpg");
}
