#movie-image {
  background-image: url("preferences/format/amelie.jpg");
}

#serie-img {
  background-image: url("preferences/format/Series.jpg");
}

#short-img {
  background-image: url("preferences/format/short.jpg");
}

#mini-img {
  background-image: url("preferences/format/tales.jpg");
}

#action-img {
  background-image: url("preferences/genre/action.jpg");
}

#adventure-img {
  background-image: url("preferences/genre/adventure.jpg");
}

#animation-img {
  background-image: url("preferences/genre/animation.jpg");
}
