#movie-image {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/format/amelie.jpg");

}

#serie-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/format/Series.jpg");
}

#short-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/format/short.jpg");
}

#onehour-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/runtime/onehour.jpg");
}

#twohour-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/runtime/twohour.jpg");
}

#threehour-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/runtime/threehour.jpg")
}

#fourhour-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/runtime/fourhour.jpg")
}

#mini-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/format/tales.jpg");
}

#action-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/action.jpg");
}

#adventure-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/adventure.jpg");
}

#animation-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/animation.jpg");
}

#anime-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/anime.jpg");
}

#comedy-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/comedy.jpg");
}

#crime-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/crime.jpg");
}

#docu-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/documentary.jpg");
}

#drama-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/drama.jpg");
}

#family-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/family.jpg");
}

#fantasy-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/fantasy.jpg");
}

#history-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/history.jpg");
}

#history-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/history.jpg");
}

#horror-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/horror.jpg");
}

#music-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/music.jpg");
}

#mystery-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/mystery.jpg");
}

#romance-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/romance.jpg");
}

#science-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/science.jpg");
}

#thriller-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/thriller.jpg");
}

#war-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/war.jpg");
}

#western-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/genre/western.jpg");
}

#thisyear-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/thisyear.jpeg");
}

#twenty-twenty-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/2020.jpg");
}

#twenty-ten-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/2010.jpg");
}

#twenty-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/2000.jpg");
}

#nine-nine-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1990.jpeg");
}

#nine-eight-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1980.jpg");
}

#nine-seven-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1970.jpg");
}

#nine-six-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1960.jpg");
}

#nine-five-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1950.jpg");
}

#nine-four-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1940.jpg");
}

#nine-three-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1930.png");
}

#nine-two-img {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("preferences/period/1920.jpg");
}
