.movie-card {
  width: 100px;
  /* Fixed width */
  height: 152px;
  /* Fixed height */
  /* Increased vertical margin for spacing */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-dark {
  // opacity: 50%;
}


.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170%;
}

.movie-info {
  width: 100%;
}

.infos {
  // background-color: aqua;
  height: 152px;
  padding: 0;
  padding-left: 2%;
}

.title {
  // background-color: blueviolet;
  line-height: 1; /* Éliminer tout padding par défaut */
}

.title p {
  margin: 0;         /* Supprimer la marge par défaut du paragraphe */      /* Supprimer le padding du paragraphe */ /* Aligner le texte à gauche */
}

.rating {
  // background-color: brown;
  line-height: 1;
  margin-top: 2%;
}

.rating p{
  margin: 0;
  font-size: 60%;
}

.description {
  // background-color: chartreuse;
  line-height: 1.2;
  font-weight: 200;
  // text-align: justify;
  // word-break: break-all;
  margin-top: 7%;
  height: 47%;
  overflow:hidden;
  width: 100%;
}

.description p {
  margin: 0;
  font-size: 75%;
}

.moved {
  display: flex;
  justify-content: center;
}

.more-details {

}

.watchlist {

}

.image-stream-pop {

}

.image-stream-pop a {
  width: 45%;
}

.image-stream-pop img {
  width: 45%;
}
