.movie-card {
  width: 27%;
  /* Maintain percentage width */
  height: 20%;
  /* Maintain percentage height */
  margin: 30px auto;
  /* Increased vertical margin for spacing */
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba($black, 0.1);
  position: relative;
  text-align: center;
  border: 1px solid $light-gray;
}
