@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap";
@import "font-awesome";
@import "components/index";
@import "pages/index";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1E1E1E;
  color: #fff;
  font-family: $body-font;
}

.homepage {
  overflow: hidden;
}
