@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "bootstrap";
@import "font-awesome";
@import "components/index";
@import "pages/index";

// component styles
@import "components/menubar";

// main styles
@import "components/variables";

// your stylesheets


body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark-dark-grey;
  color: $white;
  font-family: $body-font;
}

.homepage {
  overflow: hidden;
}
