<div>
  <h2>Title: <%= movie.title %></h2>
  <h3>Description: <%= movie.description %></h3>
  <h3>Release Date: <%= movie.release_date %></h3>
  <h3>Movie Poster: <%= image_tag(movie.movie_poster) %></h3>
</div>
