<h1>Watchlist</h1>

<% if @movie_watchlists.any? %>
  <div class="watchlist-grid">
    <% @movie_watchlists.each do |movie_watchlist| %>
      <%= link_to movie_watchlist_path(movie_watchlist), class: "" do %>
        <div
          class="movie-card movie-link"
          style="background-image:url('https://image.tmdb.org/t/p/original<%= movie_watchlist.poster_path %>');"
        >
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p class="empty-watchlist-message">Your watchlist is empty.</p>
<% end %>
