<h1>Watchlist</h1>

<% if @movie_watchlists.any? %>
  <div class="watchlist-grid">
    <% @movie_watchlists.each do |movie_watchlist| %>
      <div class="movie-card" style="background-image:url('<%= movie_watchlist.poster_url %>');">
        <%= link_to watchlist_movie_path(movie_watchlist), class: "movie-link" do %>

        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="empty-watchlist-message">Your watchlist is empty.</p>
<% end %>
